<h1>投稿一覧</h1>  
<div class="notice"><p><%= notice %></p></div>
<% @blogs.each do |blog| %>
<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10"> 
  <div class="box clearfix"> 
      <h2><%= blog.content%></h2>
      <ul class="center">
        <li><%= link_to "詳細", blog_path(blog.id), class: "square_btn" %></li> 
        <li><%= link_to "編集" , edit_blog_path(blog.id), class: "square_btn" %></li> 
        <li><%= link_to"削除", blog_path(blog.id), method: :delete, data: {confirm: '本当に削除していいですか'},  class: "square_btn"%></li>
      </ul> 
  </div>
</div>  
<% end%>

